<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

   <xacro:include filename="robot_core.xacro" />

   <xacro:include filename="Gazebo_control.xacro" />

   <xacro:include filename="lidar.xacro"/>

   <!-- <xacro:include filename="camera.xacro"/> -->

   <!-- <xacro:include filename="dept_camera.xacro"/> -->

</robot>